.header {
    border-bottom: solid 1px #f4f4f4;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    text-align: center;
}

.header__logo {
    color: #88796b;
    text-decoration: none;
    font-size: 36px;
}

.im-fell-double-pica-regular {
    font-family: "IM Fell Double Pica", serif;
    font-weight: 400;
    font-style: normal;
}

.im-fell-double-pica-regular-italic {
    font-family: "IM Fell Double Pica", serif;
    font-weight: 400;
    font-style: italic;
}