.confirm__content {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1000px;
}

.confirm__heading {
    margin: 30px auto;
    text-align: center;
    color: #88796b;
}

.confirm__heading h2 {
    font-size: 30px;
}

.alike-angular-regular {
    font-family: "Alike Angular", serif;
    font-weight: 400;
    font-style: normal;
}

.form {
    margin: 0 auto;
    width: 80%;
}

.confirm-table {
    border: 1px solid #f4f4f4;
    text-align: left;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__row {
    border-bottom: solid 1px #f4f4f4;
}

.confirm-table__header {
    color: #fff;
    font-size: 13px;
    padding: 10px 50px;
    width: 40%;
    background-color: #bba79a;
}

.confirm-table__text {
    color: #88796b;
    font-size: 13px;
    padding: 10px 50px;
}

.confirm-table__text-detail {
    color: #88796b;
    font-size: 13px;
    padding: 15px 50px;
    width: 80%;
    overflow-wrap: break-word;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin: 40px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.form__button-submit {
    font-size: 16px;
    padding: 10px;
    width: 15%;
    border: none;
    background: #88796b;
    color: #fff;
}

.form__button-back {
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 15%;
    color: #88796b;
    text-decoration: underline;
    border: none;
    background-color: #fff;
}